@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Lato:ital,wght@0,300;0,400;0,700;1,700&family=League+Spartan:wght@300&family=Ubuntu&family=Varela+Round&display=swap');

.header{
    height: auto;
    background-color: white;
    color: black;
    text-decoration: none;
}

.header1{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 15px;
    align-items: baseline;

}

.header11,
.header2 {
    flex: 1; 
}

.header11{
    text-decoration: none;
    float: left;
    color: #bde22a;
    padding-left: 80px;
    padding-top: 10px;
    font-size: 24px;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
}


.header2 ul{
  display: flex;
  list-style: none;
  padding-left: 10rem;
  
}

.header1 li{
    text-decoration: none;
    margin: 0;
    padding: 0 10px;
    font-size: 18px;
}

.header2 a{
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px 0;
    color: #000;
    font-size: 18px;
    
}

.banner {
    background-image: url(img/banner.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.banner-main {
    text-align: center; 
    padding: 0 20px;
}

#banner1{
    color: white;
    font-weight: 200;
    font-size: 13vw;
    font-family: "Just Another Hand",cursive;
    margin-bottom: -6%;
}

#banner2{
    max-width: 98%;
    font-size: 1.8vw;
    color: white;
    text-align: center;
    padding-top: 0%;
}

#banner-btn{
    border: white;
    background: 0 0;
    border: 2px solid #fff;
    padding: 15px 60px;
    border-radius: 100px;
    font-size: 1.2vw;
    font-weight: 200;
    text-align: center;
    color: white;
}

.grid{
    margin-top: 70px;
    margin-bottom: 70px;
    flex-wrap: wrap;
    justify-content: center;
}

.grid1{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-evenly;
    width: 98%;
    margin-bottom: 30px;
}

.grid2{
    margin-top: 30px;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-evenly;
    width: 98%;
    margin-bottom: 30px;
}

.card {
    width: 22rem;
    margin: 0 10px; 
}

.banner-sm {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(img/banner.jpg);
    height: 65vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


#banner-sm1 {
    color: white;
    font-weight: 100;
    font-size: 80px;
    font-family: "Just Another Hand", cursive;
}

#banner-sm2 {
    font-size: 20px;
    margin-top: -5%;
    color: white;
    text-align: center;
}

.grid-icon{
    font-size: 40px;
    color: #95ad33;
    padding-left: 14px;
}

.footer{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(img/banner2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex; 
    flex-direction: column;
}

.footer1{
    display: flex;
    color: #fff;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px; 
}

.footer2{
    width: 21%;
}

.footer3{
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 75px;
    padding-left: 58px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;

}

.fa-brands {
    padding: 10px;
    font-size: 30px;
    color: #95ad33;
}
.footer2 h4 {
    margin-bottom: 40px;
}

.footer2 p {
    margin-top: -5%;
}

.footer2 .org p {
    color: #95ad33;
    margin-top: -6%;
}


